<p>
  <a href="https://www.openmicroscopy.org/omero/">OMERO</a> is a modern
  client-server software platform for visualizing, managing, and
  annotating scientific image data. OMERO lets you import and archive
  your images, annotate and tag them, record your experimental
  protocols, and export images in a number of formats. It also allows
  you to collaborate with colleagues anywhere in the world by creating
  user groups with different permission levels. This workshop will teach
  you to view and annotate data, work with regions of interest, analyze
  OMERO data with ImageJ, and create figures. The specific contents will
  be tailored to the participants, so that they can use the knowledge to
  their own research problems.
</p>

