<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>Basic image management</td> </tr>
      <tr> <td>2:15</td>  <td>Break</td> </tr>
      <tr> <td>2:35</td>  <td>Viewing, analyzing and publishing images using OMERO plugins</td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>Using OMERO from external software</td> </tr>
      <tr> <td>2:30</td>  <td>Break</td> </tr>
      <tr> <td>2:50</td>  <td>Publishing with OMERO.figure</td> </tr>
      <tr> <td>3:50</td>  <td><a href="https://form.jotform.com/220034889369162" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>4:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
